* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    width: 100vw;
    height: 200px;
    background: lightslategray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background: lightcoral;
    width: 30%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
}

.nav-container {
    background: lightblue;
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list :nth-child(n) {
    /* nav children */
    color: rgb(78, 22, 22);
    padding: 10px;
}

.nav-list :nth-child(n):hover {
    /* nav children */
    color: white;
    background: lightslategray;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.summary {
    text-align: center;
    padding: 50px;
}

.summary p {

    padding: 20px;
}

.summary button:hover {

    box-sizing: border-box;
    border-color: aqua;
    transform: matrix(10px);
    background: aqua;
     
}

html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    position: absolute;
    top: 78%;
    left: 50%;
    width: 400px;
    padding: 30px;
    transform: translate(-50% , -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    background-image: linear-gradient( 60deg, rgba(57, 60, 90, 0.85), rgba(180, 180, 120, 0.5) );
    background-position: center;
    background-size: cover;
    font-weight: bold;
    text-shadow: rgb(56, 50, 50) 1px 1px
}

.title-container {

    display: block;
    color: white;
    text-shadow: 2px 2px black;
    width: 40%;
    padding: 30px;
    margin-bottom: 20%;
    margin-right: 30px;
    border-top: 1px black solid;


}




